*{
    margin: 0;
    padding: 0;
}

.container{
    /* width: 100%; */
    /* height:auto; */
    background-color: black;
    display: flex;
    justify-content: center;
    /* padding-bottom: 50%; */
}
.container2{
    width: 50%;
    background-color: rgb(18, 18, 18);
    margin-top: 30px;
    /* padding: 20px; */
}
#withImg{
    /* background-image: url(../images/breaking-bad.jpg); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 10px 10px 30px 30px;
    height: 550px;
}
.ca{
    /* position: relative;
    bottom: 15px; */
    display: flex;
    justify-content: flex-end;
}
.cancel{
    background-color: rgb(94, 93, 93);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /* position: relative;
    left: 1015px; */
    /* margin-top: 20px; */
}
.cancel i{
    color: white;
    font-size: 25px;
    /* font-weight: 200; */
    /* font-family: "yu gothic"; */
}
.content{
    padding-top: 200px;
}
.title{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 30px;

}
.title h5{
    font-size: 10px;
    /* position: relative;
    right: 10px; */
}
.break{
    width: fit-content;
    display: flex;
    /* margin-bottom: 20px; */
}
.bad{
    display: flex;
    position: relative;
    left: 78px;
    
}
.br{
    background-color: green;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    display: flex;
    /* width: max-content; */
}
.ba{
    background-color: green;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    display: flex;
    
}
.quote{
    /* background-color: wheat; */
    max-width: 300px;
    /* margin-left: 500px; */
    color: rgb(31, 81, 4);
    position: absolute;
    margin-left: 27%;
    font-size: 20px;
    width: 280px;
}
.description{
    /* margin: 0px; */
    width: 50%;
    height: 50px;
    background-color: grey;
    background-image: linear-gradient(360deg,rgb(0, 0, 0) 10%,transparent);
    opacity: 0.3;
    position: absolute;
    top: 61vh;
    /* position: fixed; */
    /* bottom: 110px; */
    padding-top: 100px;
}
/* .quote h1{
    background-color: red;
    
} */
.container3{
    margin-top: 80px;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
}
.container2-left{
    display: flex;
}
/* .play h1{
    max-width: 10px;
} */

.play{
    width: fit-content;
    background-color: white;
    border-radius: 5px;
    padding: 9px 35px;
    display: flex;
    align-items: center;
    margin-right: 20px;
    align-content: space-between;
    /* z-index: 0; */
}

.play a{
    text-decoration: none;
    color: black;
    margin-left: 10px;
    font-size: 20px;
}
.play i{
    font-size: 30px;
}
.add{
    background-color: rgba(91, 88, 88, 0.5);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-right: 20px;
    border-style: solid;
    border-width: 1px;

}
.thumbs-up{
    background-color: rgba(91, 88, 88, 0.5);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-style: solid;
    border-width: 1px;
}
.volume{
    background-color: rgba(91, 88, 88, 0.5);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}
.volume i{
    align-content: center;
    color: white;

}



.aside{
    color: white;
    padding: 0px 10px 30px 30px;

}
.aside h2{
    font-weight: 500;
    font-family: "Yu Gothic";
    font-size: 15px;
}
.first-line{
    display: flex;
}
.first-line div, h2{
    margin-right: 5px;
}
.green{
    color: green;
}
.age{
    color: white;
    border-style: solid;
    height: 18px;
    border-width: 1px;
    border-color: white;
}
.first-line .hd{
    color: white;
    border-style: solid;
    height: 18px;
    border-width: 1px;
    border-color: white;
}
.blur{
    opacity: 0.7;
    margin-right: 5px;
}
.left-detail{
    max-width: 500px;
    margin-top: 20px;
    font-size: 14px;
}
.left-detail h3{
    font-weight: 400;
    font-family: "Yu Gothic";
    /* font-size: 14px; */

}
.aside-right{
    max-width: 237px;
}
.aside-right h3{
    font-weight: 300;
    font-family: "Yu Gothic";
    font-size: 14px;

}
.cast{
    display: block;
    margin-bottom: 15px;
}
/* .cast span{
    max-width: 30px;
} */
.genres{
    display: block;
    margin-bottom: 15px;
}
.this-show{
    display: flex;
}



.episodes{
    /* position: relative;
    bottom: 150px; */
    /* padding-left: 5%;
    padding-right: 5%; */
    padding: 10px 10px 30px 30px;

}
.select{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.select h1{
    color: white;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 25px;
}
.select a{
    text-decoration: none;
}
.select button{
    padding: 10px;
    background-color: rgb(18, 18, 18);
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    display: flex;
    color: white;
}
.select h2{
    margin-right: 10px;
}

.thin1{
    height: 1px;
    border: 0;
    color: #333;
    background-color: white;
    opacity: 0.1;
    margin-bottom: 50px;
    /* margin-top: 50px; */
    /* width: 80%; */
}
.one-episode{
    display: flex;
    max-width: 860px;
    align-items: center;
}
.one-episode h1{
    color: white;
    /* margin-right: 10px; */
    font-family: sans-serif;
    font-weight: 200;
    opacity: 0.8;
}
.one-episode h3{
    color: white;
    margin-bottom: 150px;
    font-family: sans-serif;
    font-weight: 200;
    opacity: 0.8;
    position: absolute;
    right: 30%;
    
}
.one-episode img{
    width: 230px;
    height: 120px;
    object-fit: cover;
    margin-right: 30px;
    border-radius: 10px;
}
.ep-disc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ep-disc h2, p{
    color: white;
    font-family: sans-serif;
    font-weight: 100;
    font-stretch: extra-expanded;
}
.ep-disc h2{
    margin-bottom: 20px;
}
.ep-disc p{
    font-size: 17px;
    font-weight: 500;
    font-family: "Yu Gothic";
    opacity: 0.8;
}
.thin2{
    height: 2.5px;
    border: 0;
    color: #333;
    background-color: white;
    opacity: 0.1;
    margin-bottom: 30px;
    margin-top: 30px;
    /* width: 80%; */
}
.cards{
    padding: 10px 30px 30px 30px;
}

.collections{
    display: flex;
    color: white;
    /* padding: 0px 0px 0px 0px; */

    /* padding-left:5% ;
    padding-right: 5%; */
    /* position: relative;
    bottom: 100px; */
}

.card{
    /* padding-left:5% ;
    padding-right: 5%; */
    color: white;
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 34% 34% 34%;
}
.card-one{
    /* width: 25%; */
    background-color: rgba(36, 34, 34, 0.897);
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    
}
.on-card{
    padding: 15px;
}
.card-one img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.card-one .green{
    color: green;
    background-color: rgba(36, 34, 34, 0.897);
    margin-bottom: 10px;
}
.card-one .eighteen{
    width: fit-content;
    margin-left: 0px;
    background-color: rgba(36, 34, 34, 0.897);
    margin-bottom: 10px;

}
.year{
    display: flex;
}
.card-one p{
    color: white;
    font-family: sans-serif;
    font-weight: 100;
    font-stretch: extra-expanded;
    font-size: 17px;
    font-weight: 500;
    font-family: "Yu Gothic";
    opacity: 0.8;
}
.cards2{
    padding: 10px 30px 30px 30px;
}
.likes{
    display: flex;
    color: white;
    /* padding-left:5% ;
    padding-right: 5%; */
    /* position: relative;
    bottom: 0px; */
}
.likes h1{
    margin: 50px 0px 20px 0px;
    /* font-family: sans-serif; */
    font-weight: 200;
    font-family: "Yu Gothic";
}
.add2{
    display: flex;
    justify-content: flex-end;
}
.thin3{
    height: 1px;
    border: 0;
    color: #333;
    background-color: white;
    opacity: 0.1;
    margin-bottom: 50px;
    /* width: 100%; */
    margin: 0px 5% 0px 5%;
}
.about{
    margin: 30px 5%;
    max-width: 850px;
}
.about-movie{
    display: block;
    margin-bottom: 20px;
    color: white;
}
.about-title{
    font-size: 2rem;
    margin-bottom: 30px;
}

@media only screen and (max-width:1200px) {
    .title{
        font-size: 20px;
    }
    #withImg{
        height: 450px;
    }
    .content{
        padding-top: 180px;
    }
    .bad{
        display: flex;
        position: relative;
        left: 56px;
    }
    .quote{
        margin: 30px 0px ;
        max-width: 300px;
        width: 100%;

    }
    .description{
        width: 65%;
        position: absolute;
        top: 57vh;
        /* position: fixed; */
    }
    .container3{
        margin-top: 100px;
    }
    .play{
        padding: 0px 10px;
        max-width: 150px;
    }
    .play a{
        font-size: 15px;
    }
    .play i{
        font-size: 18px;
    }
    .add{
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    .thumbs-up{
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    .volume{
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    .container2{
        width: 65%;
    }
    .left-detail{
        margin-bottom: 15px;
    }
    .cards{
        padding: 10px 30px 30px 30px;
    }
    .one-episode{
        display: block;
    }
    .one-episode h1{
        font-size: 25px;
        margin-bottom: 10px;
    }
    .one-episode h3{
        margin-left: 75%;
    }
    .one-episode img{
        width: 300px;
        margin-bottom: 20px;
    }
    .ep-disc{
        display: block;
        /* flex-direction: column; */
        /* justify-content: space-between; */
    }
    .ep-disc h2{
        margin-bottom: 0px;
    }
    .ep-disc p{
        margin-bottom: 20px;
    }
    .thin2{
        margin-bottom: 20px;

    }
    .collections{
        margin-bottom: 20px;
    }
    
    .card{
        display: block;
        width: 75%;
    }
    .cards2{
        padding: 10px 30px 30px 30px;
    }
    .card-one{
        margin-bottom: 20px;
    }
    .likes h1{
        margin: 50px 0px 20px 0px;
        /* font-family: sans-serif; */
        font-weight: 200;
        font-family: "Yu Gothic";
    }
    .add2{
        display: flex;
        justify-content: flex-end;
    }
    .thin3{
        height: 1px;
        border: 0;
        color: #333;
        background-color: white;
        opacity: 0.1;
        margin-bottom: 50px;
        /* width: 100%; */
        margin: 0px 5% 0px 5%;
    }
    
}
