*, html {
    margin:0;
    padding:0;  
}
.body{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    overflow: hidden;
}
.container{
    overflow: hidden;
    width: 100%;
}
.backimg{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-size: cover;
    z-index: 0;
    height: 760px;
    object-fit: cover;
}
.homePage{
    /* padding: 3%; */
    /* width: 100%; */
    /* height: 1000px; */
    background-color: black;
    width: 100%;
    /* background-color: rgb(150, 95, 160); */

    /* background-repeat: no-repeat; */
    /* background-image: url(../images/food_3.jpeg); */

}
.nav{
    margin-left: 180px;
    z-index: 0;
    font-weight: 450;
    font-family: "Yu Gothic";
    
}
.rightHeader{
    z-index: 0;
    /* padding: 40px; */
}


.header{
    font-family: sans-serif;
    display: flex;
    padding: 1.8% 3%;
    /* display: flex; */
    justify-content: space-between;
    /* background-color: rgba(4, 3, 3,.7); */
    /* background-image: linear-gradient(red, yellow); */
    background-image: linear-gradient(180deg,rgba(0,0,0) 10%,transparent);
    opacity: 0.7;
    z-index: 0;
    
}
.logo{
    padding-right: 30px;
    width: 150px;
    height: 35px;
    /* color: rgba(241, 0, 0, 0.852); */
    position: absolute;
    top: 20px;
    /* top: -45px; */
    

    /* font-family: 'Bebas Neue', sans-serif; */
    /* font-size: 2rem; */
}
.header a{
    color: white;
    text-decoration: none;
    
}
.header i{
    color: white;
}
.navLogo{
    display: flex;
    justify-content: space-between;
}
.navLogo a{
    padding: 10px;
}
.rightHeader i, a{
    padding: 5px;
    /* z-index: 0; */
}
/* .play i{
    color: black;
    display: flex;
    justify-content: center;
} */
.actionContainer{
    /* background-color: black; */
    width: 55%;
    display: flex;
    padding: 0.8%;
    padding-top: 26.5%;
}

.play{
    /* width: 60px; */
    background-color: white;
    border-radius: 5px;
    padding: 9px 35px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    align-content: space-between;
    z-index: 0;
}
.info{
    /* width: 60px; */
    background-color: rgb(155, 154, 154, 0.4);
    /* opacity: 0.5; */
    border-radius: 5px;
    padding: 9px 33px;
    display: flex;
    align-items: center;
    /* margin-right: 0px; */
    align-content: space-between;
    z-index: 0;
}

.actionContainer i{
    margin-right: 10px;
    font-size: 2rem;
    /* position: relative; */
    /* bottom: 30px; */
    /* color: rgb(80, 79, 79); */
    display: flex;
    justify-content: center;
}
.actionContainer a{
    font-size: 1.5rem;
    text-decoration: none;
    font-family: sans-serif;
    color: black;
    font-weight: 500;
}
.info a{
    color: white;
}
.info i{
    color: white;
}

.dialogue h3{
    z-index: 0;
}
.transition{
    height: 400px;
    /* background-image: linear-gradient(360deg,rgba(0,0,0) 10%,transparent);
    opacity: 0.5; */
    z-index: 0;
}
.poster{
    width: 100%;
    /* height: 1000px; */
    background-color: rgba(8, 7, 7, 0.776);
    background-image: linear-gradient(360deg,rgba(0,0,0) 98%,transparent);
    /* opacity: 0.4; */
    position: relative;
    border: none;
    top: 97px;
    padding-left: 3%;
    padding-top: 300px;
    padding-bottom: 300px;
}
.content{
    width: 100%;
    position: relative;
    bottom: 290px;
}
.poster h3{
    color: white;
    margin-bottom: 20px;
}
.content img{
    /* width: 350px;
    height: 200px; */
    /* margin-left: 20px; */
    /* object-fit: cover; */
    /* object-position: center center; */
    /* height: 5%; */
}
.posters img{
    /* margin: auto; */
    margin-right: 20px;
    object-fit: cover;
    max-height: 200px;
    width: 700px;
    /* height: 300px; */
}
.content div::-webkit-scrollbar{
    display: none;
}
.content div{
    display: flex;
    overflow: auto;
    overflow: auto;
    margin-bottom: 20px;
}

/* .posters1{
    display: flex;
    overflow: auto;
    margin-bottom: 20px;
    background-image: linear-gradient(360deg,rgba(0,0,0) 10%,transparent);
    opacity: 0.7;
    
} */
/* .posters2{
    display: flex;
    overflow: auto;
    margin-bottom: 20px;
}
.posters3{
    display: flex;
    overflow: auto;
    margin-bottom: 20px;
}
.posters4{
    display: flex;
    overflow: auto;
    margin-bottom: 20px;
}
.posters5{
    display: flex;
    overflow: auto;
    margin-bottom: 20px;
} */
/* .content1{
    background-color: black;
    background-image: linear-gradient(360deg,rgba(0,0,0) 10%,transparent);
    opacity: 0.7;
} */
/* .content1::-webkit-scrollbar {
        display: none;
} */
/* .posters1::-webkit-scrollbar {
    display: none;
} */




















@media only screen and (max-width:904px) {
    
    .navLogo{
        display: flex;
        flex-direction: column;
    }
    .nav{
        display: flex;
        flex-direction: column;
    }
    .nav a{
        padding-bottom: 30px;
    }

    .actionContainer{
        max-width: 36%;
        display: flex;
        flex-direction: column;
    }
    .play{
        margin-bottom: 20px;
    }
    .info{

    }
}